header {
    width: 93.02vw;
    margin-top: 1.5625vw;
    margin-bottom: 2vw;
    z-index: 3;
}

.nav_menu_start_animated {
    opacity: 0;
    transform: translateY(-30px);
    animation: slideInFromTop 0.7s ease-out 0.8s forwards;
    animation-delay: 2.5s;
}

@keyframes slideInFromTop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-main-logo-start-animation {
    opacity: 0;
    animation: fadeInImmediate 0.5s ease-out forwards;
    animation-delay: 2.1s;
}

@keyframes fadeInImmediate {
    to {
        opacity: 1;
    }
}

.nav_menu {
    grid-column-start: 5;
    grid-column-end: 13;
    display: flex;
    justify-content: space-between;
    /*z-index: 10;*/
}

@media only screen and (max-width: 1366px) {
    .nav_menu {
        justify-content: end;
    }
}

@media only screen and (max-width: 767px) {
    .nav_menu {
        align-items: start;
    }
}