footer {
    margin-top: 13.5416666667vw;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    padding-top: 1.33333333333vw;
    /*padding-bottom: 1.75vw;*/
    padding-bottom: 0.75vw;
}

footer::before {
    position: absolute;
    top: 0;
    content: "";
    /*height: 50.233281493vw;*/
    /*height: 50.46875vw;*/
    height: 200vw;
    width: 100%;
    background: linear-gradient(180deg, var(--color-gradient-end) 0, var(--color-gradient-start) 15%, var(--color-gradient-start) 100%);
    border-top-left-radius: 1.875rem;
    border-top-right-radius: 1.875rem;
    z-index: -1;
}

.footer-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.91667vw;
}

.footer-privacy_link {
    display: flex;
    align-items: center;
    height: 1.3vw;
    /*margin-left: 3vw;*/
    position: relative;
    width: 55vw;
    justify-content: center;
    font-size: 0.85vw;
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
    font-family: var(--font-inter);
    /*font-size: 1vw;*/
    font-weight: 300;
    line-height: 1.21;
    margin-top: 2vw;
    transition: color 0.3s;
}

.footer-privacy_link::before {
    content: "";
    position: absolute;
    /*left: -15px;*/
    /*top: 50%;*/
    top: -20%;
    /*transform: translateX(-50%);*/
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
}

.footer-privacy_link:hover {
    /*color: rgba(255, 255, 255, 0.9);*/
    color: #86A2FF;
}

@media only screen and (max-width: 767px) {
    footer {
        padding-top: 1.91666666667vw;
        padding-bottom: 4.16666666667vw;
    }
}